<div id="<%= dom_id sms_message %>">
  <p>
    <strong>Phone number:</strong>
    <%= sms_message.phone_number %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= sms_message.message %>
  </p>

</div>
