<% content_for :title, "Editing sms message" %>

<h1>Editing sms message</h1>

<%= render "form", sms_message: @sms_message %>

<br>

<div>
  <%= link_to "Show this sms message", @sms_message %> |
  <%= link_to "Back to sms messages", sms_messages_path %>
</div>
