<div class="text-center mb-5 d-flex justify-content-between">
  <h1 class="heading">
    Message History (<%= @sms_messages.count %>)
  </h1>

  <%= link_to(
    "New SMS Message",
    new_sms_message_path,
    class: "button button--black text-decoration-none",
    data: { turbo: false }
  ) %>
</div>


<div id="sms_messages">
  <% @sms_messages.each do |sms_message| %>
    <%= render sms_message %>
  <% end %>
</div>
