// Type scale
$fs-1: 1rem;
$fs-2: 1.2rem;
$fs-3: 1.4rem;
$fs-4: 1.6rem;
$fs-5: 1.8rem;
$fs-6: 2.0rem;
$fs-7: 2.4rem;
$fs-8: 3.0rem;
$fs-9: 3.6rem;
$fs-10: 4.8rem;
$fs-11: 6.0rem;
$fs-12: 7.2rem;

// Spacing scale (su = spacing unit)
$su-1: .4rem;
$su-2: .8rem;
$su-3: 1.2rem;
$su-4: 1.6rem;
$su-5: 2.4rem;
$su-6: 3.2rem;
$su-7: 4.0rem;
$su-8: 4.8rem;
$su-9: 6.4rem;
$su-10: 9.6rem;
$su-11: 12rem;
$su-12: 14rem;

// Colors

// Brand colors
$green-100: hsl(170, 76%, 80%);
$green-200: hsl(170, 76%, 55%);
$green-300: hsl(170, 76%, 40%);
$green-400: hsl(170, 76%, 30%);
$green-500: hsl(170, 76%, 20%);

$pink-100: hsl(325, 95%, 75%);
$pink-200: hsl(325, 95%, 65%);
$pink-300: hsl(325, 95%, 55%);
$pink-400: hsl(325, 95%, 45%);
$pink-500: hsl(325, 95%, 35%);

$red-100: hsl(340, 91%, 80%);
$red-200: hsl(340, 91%, 65%);
$red-300: hsl(340, 91%, 50%);
$red-400: hsl(340, 91%, 35%);
$red-500: hsl(340, 91%, 20%);

$yellow-100: hsl(58, 81%, 80%);
$yellow-200: hsl(58, 81%, 65%);
$yellow-300: hsl(58, 81%, 50%);
$yellow-400: hsl(58, 81%, 35%);
$yellow-500: hsl(58, 81%, 20%);

// Neutrals
$neutral-100: hsl(149, 8%, 95%);
$neutral-200: hsl(149, 8%, 80%);
$neutral-300: hsl(149, 8%, 61%);
$neutral-400: hsl(149, 8%, 45%);
$neutral-500: hsl(149, 8%, 25%);

// BASIC
$black: hsl(0, 0, 0);
$white: hsl(0, 0, 100%);
