<header class="header py-5">
  <nav class="d-flex align-items-center justify-content-between">
    <%= link_to(
      "My SMS Messenger",
      root_path,
      class: "nav-link header__brand",
      data: { turbo: false }
    ) %>

    <ul class="d-flex flex-row align-items-center navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to(
            "Sign out",
            destroy_user_session_path,
            method: :delete,
            class: "nav-link",
            data: { turbo: false }
          ) %>
        </li>
        <li class="nav-item button button--black">
          <%#= link_to "Add Post", new_post_path, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item button button--black">
          <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </nav>
</header>
